html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url(../images/back.png);
}

#float-left{
  margin-left: 30%;
  margin-bottom: 15%;
  width: 50%;
}

#float-right{
  margin-right: 30%;
  margin-bottom: 15%;
  width: 50%;
}

#bodyrow {
  padding: 5%;
}

.img-thumbnail {
  float: left;
  clear: left;
  width: 25%;
  margin-right: 10px;
}

#mainbody {
  padding-bottom: 5%;
  float: left;
}

#conbutton {
  margin-bottom: 15px;
}

#connectinfo {
  float: right;
  clear: right;
}
 #contactinfo {
  width: 100%;
 }





.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

@media screen
and (max-width: 640px)
and (min-width: 300px){
  #bodyrow{
    width: 100%;
  }
  #mainbody{
    width: 100%;
  }
  #connectbody{
    width: 100%;
  }
  .container{
    width: 100%;
  }
  body{
    width: 100%;
  }
}

@media screen
and (max-width: 768px)
and (min-width: 641px){
  #bodyrow{
    width: 100%;
  }
  #mainbody{
    width: 100%;
  }
  .container{
    width: 100%;
  }
  body{
    width: 100%;
  }

}

@media screen
and (max-width: 940px)
and (min-width: 769px){
  #bodyrow{
    width: 100%;
  }
  #mainbody{
    width: 100%;
  }
  .container{
    width: 100%;
  }
  body{
    width: 100%;
  }

}